////
/// Effect helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.highlight {
	padding-right: 0.5rem;
}

.highlight,
.hover\:highlight:hover {
	background-image: linear-gradient( 0deg, $blue-100 50%,transparent 50%);
}

// Box-shadow.

$shadows : (
	none:    $shadow-none,
	sm:      $shadow-sm,
	md:      $shadow-md,
	lg:      $shadow-lg,
	xl:      $shadow-xl,
	2xl:     $shadow-2xl,
	//inner:   $shadow-inner,
	//outline: $shadow-outline
);

@each $shadow-name, $shadow-value in $shadows {

	.shadow-#{ $shadow-name } {
		box-shadow: #{ $shadow-value }
	}
}
