////
/// Message component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.message {
	box-sizing:    border-box;
	overflow:      hidden;
	max-width:     $max-w-3xl;
	margin:        $spacing-global 0 0;
	padding:       $spacing-global;
	font-style:    italic;
	background:    $gray-100;
	border-top:    1px solid $gray-200;
	border-bottom: 1px solid $gray-200;
}
