////
/// Pagination component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.pagination {

	&__items {
		/* Get rid of whitespace between inline-block elements. */
		font-size   : 0px;
	}

	&__item {}

	&__anchor {
		margin      : 0 -1px 0 0;

		&--link:hover,
		&--link:focus {
			color        : #fff;
			background   : #4a5568;
			border-color : #4a5568;
		}
	}
}
