////
/// Nav menu component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.toggle__button {
	color: $white;
	background-color: $gray-700;

	&:hover,
	&:focus {
		background-color: $gray-900;
	}
}

.menu {

	&--primary {
		.menu__title {}

		.menu__toggle {}

		.menu__items {}

		.menu__item {}

		.menu__anchor {}
	}

	&--social {

		.menu__items {}

		.menu__item {}

		.menu__link {

			&--wordpress:hover,
			&--wordpress:focus {
				color: #32373c;
			}

			&--github:hover,
			&--github:focus {
				color: #171516;
			}

			&--twitter:hover,
			&--twitter:focus {
				color: #1da1f3;
			}

			&--facebook:hover,
			&--facebook:focus {
				color: #1778f2;
			}

			&--amazon:hover,
			&--amazon:focus {
				color: #ff9900;
			}

			svg {
				width:  24px;
				height: 24px;
			}
		}
	}
}
