// Links.
a {
	color: $blue-700;
	text-decoration: none;
	transition  : all 0.5s ease-in-out;

	padding-bottom: 2px;
	border-bottom: 2px solid currentColor;

	&.has-image {
		border: none;
	}

	&:visited {
		color: $purple-700;
	}

	&:focus {
		border: none;
		outline: 2px dotted $blue-500;
	}

	&:active {
		color: $red-700;
		outline: none;
	}

	&:hover {
		color: inherit;
	}
}
