// Lists.
ul,
ol {
	font-size   : 1em;
	//line-height : 1.45;
	//margin      : 0 0 1.3em 0;
	padding-left: $spacing-global;
	line-height: 2;
	margin-top: $spacing-global;

	@media ( max-width: break( 'mobile' ) ) {
		padding-left: $spacing-half;
	}
}

// Remove bottom margin from lists that are direct children of a list item.
li > ul,
li > ol { margin: 0; }

.app-main li {
	padding: 2px 0;
}
